.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: aliceblue;
    font-family: cursive;
    text-align: center;
}

.alert {
    width: 50%;
    margin: auto;
    visibility: hidden;
    padding: 3px 5px;
    color: white;
}

.redColor {
    background-color: rgba(255, 0, 0, 0.464);
}

.greenColor {
    background-color: rgba(0, 128, 0, 0.464);
}

.alertVisible {
    visibility: visible;
}

form{
    display: flex;
    justify-content: center;
}
form input {
    width: 52%;
    outline: none;
    padding: 5px;
    font-family: cursive;
    margin-right: 3px;
    border: 1px solid gray;
}

form button {
    background-color: white;
    color: gray;
    padding: 5px;
    border: 1px solid gray;
    cursor: pointer;
    font-family: cursive;
}

.inner {
    background-color: white;
    box-shadow: 0 0 10px rgb(247, 241, 228);
    padding: 20px;
    border-radius: 10px;
    width: 35%;
}

.list-item {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px;
}

li {
    list-style-type: none;
    color: rgb(56, 53, 53);
}

.btn-container button {
    background: transparent;
    border: none;
}

.btn-container button .fa-pen-to-square,
.fa-trash {
    color: gray;
    font-size: 16px;
    cursor: pointer;
}

.clear-btn {
    font-family: cursive;
    color: red;
    background: transparent;
    font-size: 15px;
    border: none;
    cursor: pointer;
    visibility: hidden;
    font-weight: bold;
}

.activeBtn {
    visibility: visible;
}

@media(max-width:912px){
    .inner {
        
        width: 55%;
    }
}
@media(max-width:533px){
    .inner {
        
        width: 75%;
    }
}
@media(max-width:394px){
    .inner {
        
        width: 95%;
    }
}
